<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chat.css"> <!-- Assuming you have a custom CSS file for chat styles -->
    <link rel="stylesheet" href="path/to/your/new/chat-design.css"> <!-- Link to your new chat design stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <title>Chat App</title>
</head>
<body>
  <% user.forEach(function(user){ %>
        <div class="container mt-5" id="chat-content">
            <div class="menu">
                <div class="back"><a href="/admin" style="color: aliceblue; text-decoration: none;"><i class="fa fa-chevron-left"></i></a><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                <div class="name"><%= user.userName %></div>
            </div>
        </div>
    <% }); %>
	<form action="" id="chatForm">
	
    <input class="textarea form-control mt-3" type="text" id="message" placeholder="Type here!"/>
<div class="emojis"></div>
<button class="btn btn-primary"type="submit">Send</button>
</div>
</form>
<link rel="stylesheet" href="path/to/your/new/chat-design.css">
</body>
</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    //main code for chat app
    const socket = io()

    socket.on("connect", () => {
        socket.emit("join", "viral@gmail.com")
        console.log("client socket connected")
    });

    socket.on('welcome', (data) => {
        console.log(data);
    })

    socket.on('newConnection', (data) => {
        console.log(data);
    })

    const form = document.getElementById('chatForm')
    const message = document.getElementById('message')
    const chatContent = document.getElementById('chat-content')


    // when us click on the submit button then this event fire
    form.addEventListener("submit", (e) => {
        e.preventDefault()
        debugger
        const msg = message.value;
        appendSendMessage(msg)
        socket.emit("sendMessage", msg)

        message.value = ''

    })

    socket.on('receiveMessage', (data) => {

        appendReceiveMessage(data)
       
    })



    //only set the message in html form send side
    function appendSendMessage(message){
        const divElement = document.createElement('div')
		const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        divElement.innerHTML = ` <ol class="chat" ><li class="self">
			<div class="avatar"><img  src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
		  <div class="msg">
			<p>${message}</p>
			<time>${currentTime}</time>
		  </div>
		</li>
		</ol>`

        chatContent.appendChild(divElement)

    }

    //only set the message in html form receive side
    const  appendReceiveMessage = (message) => {	
        const divElement = document.createElement('div')
		const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        divElement.innerHTML = `<ol class="chat">	<li class="other">
			<div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
		  <div class="msg">
			<p>${message}</p>
			<time>${currentTime}</time>
		  </div>
		</li>
		</ol>`

        chatContent.appendChild(divElement)
    }
</script>
<script>
    function updateCurrentTime() {
        const currentTimeElement = document.getElementById('currentTime');
        const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        currentTimeElement.textContent = currentTime;
    }

    // Update the current time every second
    setInterval(updateCurrentTime, 1000);

    // Initial update
    updateCurrentTime();
</script>
<!-- Add this line to include EmojiPicker.js -->
<script src="path/to/emoji-picker.js"></script>
    